For a brief overview of the data and values:

Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
survival Survival (0 = No; 1 = Yes)
name Name
sex Sex
age Age
sibsp Number of Siblings/Spouses Aboard
parch Number of Parents/Children Aboard
ticket Ticket Number
fare Passenger Fare (British pound)
cabin Cabin
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
boat Lifeboat
body Body Identification Number
home.dest Home/Destination

In [15]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
from sklearn.cluster import KMeans
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import pandas as pd

In [16]:
df = pd.read_excel('titanic.xls')

In [17]:
df.drop(['boat','body'],1,inplace=True)
df.fillna(0,inplace=True)

In [18]:
print(df.head())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked  \
0  29.0000      0      0   24160  211.3375       B5        S
1   0.9167      1      2  113781  151.5500  C22 C26        S
2   2.0000      1      2  113781  151.5500  C22 C26        S
3  30.0000      1      2  113781  151.5500  C22 C26        S
4  25.0000      1      2  113781  151.5500  C22 C26        S

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [19]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {} # {'Female':0,"Male":1} and so on
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x=0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

In [20]:
df = handle_non_numerical_data(df)
print(df.head())

   pclass  survived  name  sex      age  sibsp  parch  ticket      fare  \
0       1         1   653    0  29.0000      0      0     739  211.3375
1       1         1  1153    1   0.9167      1      2     497  151.5500
2       1         0   956    0   2.0000      1      2     497  151.5500
3       1         0   817    1  30.0000      1      2     497  151.5500
4       1         0   717    0  25.0000      1      2     497  151.5500

   cabin  embarked  home.dest
0     65         2        196
1    172         2        266
2    172         2        266
3    172         2        266
4    172         2        266

In [23]:
X = np.array(df.drop(['survived'], 1).astype(float))
X=preprocessing.scale(X)
y = np.array(df['survived'])

clf = KMeans(n_clusters=2)
clf.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [25]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction == y[i]:
        correct += 1

print(correct/len(X))

0.6890756302521008